{% extends "base.html" %}
{% block title %}{{title}}{% end %}
{% block body %}
    <h1>Коммиты репозитория {{repo.name}}</h1>
    <br/>
    {% if commits %}
        <table class="table">
          <thead>
              <tr><th>Автор</th><th>Дата создания</th><th>Сообщение</th></tr>
          </thead>
          {% for commit in commits %}
            <tr>
              <td>{{commit.author}}</td>
                <td>{{commit.date_added}}</td>
                <td>{{commit.message}}</td>
            </tr>
          {% end %}
        </table>
        {% include 'parts/paginator.html' %}
    {% else %}
            <p>записей нет</p>
    {% end %}
    {% if page >= last_page %}
        {% if repo.next_page %}
            <div align="center">
                <form method="POST" action="{{reverse_url('update', repo.id)}}">
                    <input class="btn btn-default" type="submit" value="Подгрузить еще {{per_page}}"/>
                </form>
            </div>
        {% end %}
    {% end %}
{% end %}}