{% extends "base.html" %}
{% block title %}{{title}}{% end %}
{% block body %}
    <h1>Репозитории</h1>
    <br/>
    {% if repos %}
        <table class="table">
          <thead>
              <tr><th>Имя</th><th>Дата добавления</th><th>Владелец</th></tr>
          </thead>
          {% for repo in repos %}
            <tr>
              <td><a href="{{reverse_url('details', repo.id)}}">{{repo.name}}</a></td>
              <td>{{repo.date_added}}</td>
              <td>{{repo.owner_name}}</td>
            </tr>
          {% end %}
        </table>
    {% else %}
        <p>записей нет</p>
    {% end %}
    <a class="btn btn-default" href="{{reverse_url('create')}}" role="button">Добавить репозиторий</a>
{% end %}